@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-color-1 {
    background-color: #fa8072;
}

.bg-color-2 {
    background-color: #818af0;
}

.text-color-fa8072 {
    color: #fa8072;
}




